{
  "batman": "bat0",
  "bridge": "br-client",
  "mesh-vpn": [ "mesh-vpn" ],
  "mesh-wlan": [ "ibss0", "mesh0" ],
  "fastd_socket": "/var/run/fastd.mesh_vpn.socket",
  "rate_limit": 30,
  "rate_limit_burst": 10,

  "nodeinfo": {
    "hostname": "Supernode-001",
    "node_id": "deadcafe1337",
    "hardware": {
      "model": "Raspberry Pi 2 B"
    },
    "owner": {
      "contact": "info@example.org"
    },
    "software": {
      "firmware": {
        "release": "0.42"
      }
    },
    "system": {
      "site_code": "ffggrz",
      "role": "gateway"
    },
    "location": {
      "latitude": 89.10727755551,
      "longitude": 5.00932562351
    },
    "pages": [
      "http://start.ffggrz/",
      "http://start.ffggrz.de/"
    ]
  },
  "firstseen": "2015-04-12T15:41:01"
}
